*{
	margin: 0px;
	padding: 0x;
}
.hh1{

	width: 100%;
}
.hh2{

	width: 1000px;
	margin: auto;

}
.dark{

	background-color: #31353d;
	color: white;
}
.light{
	background-color: lightgrey;
}
#left: {

	display: inline-block;
	
}
#right1{
	float: right;
}
#top_div{

	height: 40px;
	line-height: 40px;
}

#logo_left{

 
  display: inline-block;
}
#logo_right{

	float: right;
	margin-top: 80px;
}
#clear
{
	clear: both;
}
ul li{
	
	width: 250px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	text-align: center;
}
ul li a{
	color: white;
	text-decoration: none;
	display: block;
}
ul li a:hover{

	background-color: orange;
}
#imgg{
	padding: 15px;
	background-color: #eee;
	box-shadow: 5px 5px 10px grey;
	margin-top: 10px;
	margin-bottom: 10px;
}
#fs{
	width: 460px;
	margin: 3px;
	display: inline-block;
	margin-top: 15px;
	box-shadow: 5px 5px 10px grey;
	padding: 15px;
	margin-bottom: 15px;
}
#bleft{


	display: inline-block;
	width: 570px;
	margin-top: 15px;
}
#bleft  img{
	border: 1px solid grey;
	padding: 5px;
	margin: 5px;
	border-radius: 8px;
}
#bright{


	width: 280px;
	float: right;
	margin-top: 15px;
}
#latest_news img{

	height: 70px;
	width: 70px;
	margin: 1px;

}





 





